<div class="container mx-auto">
  <div class="max-w-8xl mx-auto">
    <div class="py-4 border-b border-slate-900/10 lg:px-8 lg:border-0 dark:border-slate-300/10 mx-4 lg:mx-0">
      <h1 class="text-3xl font-bold text-center !mb-0">
        دانلود کتاب از آمازون
      </h1>
    </div>
  </div>
  <app-search-box></app-search-box>

  <ng-container *ngIf="!isLoading">
    <div class="border rounded flex justify-between flex-row mb-2" *ngFor="let book of books">
    <div class="flex flex-row-reverse">
      <div class="border-b p-4 text-left justify-self-start ">
        <div class="flex mb-1">
          <span class="bg-gray-100 mr-2 text-gray-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">عنوان:</span>
          <span class="text-base font-serif">{{book.Title}}</span>
        </div>
        <div class="flex mb-1">
          <span class="bg-gray-100 text-gray-800 mr-2 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">نویسندگان:</span>
          <span class="!text-sm font-sans">{{book.Author}}</span>
        </div>
        <div class="flex mb-1">
          <span class="bg-gray-100 text-gray-800 mr-2 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">تعداد صفحات:</span>
          <span class="!text-sm font-sans">{{book.PagesInFile}}</span>
        </div>
        <div class="flex mb-1">
          <span class="bg-gray-100 mr-2 text-gray-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">سال:</span>
          <span class="!text-sm font-sans">{{book.Year}}</span>
        </div>
        <div class="flex mb-1">
          <span class="bg-gray-100 mr-2 text-gray-800 text-xs font-medium px-2.5 py-0.5 rounded dark:bg-gray-700 dark:text-gray-300">فرمت:</span>
          <span class="bg-green-100 text-green-800 text-xs font-medium me-2 px-2.5 py-0.5 rounded-full dark:bg-green-900 dark:text-green-300">{{book.Extension}}</span>
        </div>
      </div>
      <img class="book-image" onerror="this.src='/assets/images/missing.png'" mat-card-image src="https://libgen.li/covers/{{setCoverUrl(book.Coverurl)}}" alt="{{book.Title}} Cover">
    </div>

    <mat-card-actions class="justify-self-end p-4 min-w-32">
      <div class="text-center mb-2 text-stone-600 text-sm">:قیمت</div>
      <div class="text-center mb-2 text-sm rtl">۱۰۰۰ تومان</div>
      <button (click)="gotoBook(book)" mat-raised-button color="accent" class="cursor-pointer w-full text-base font-bold !tracking-normal">خرید و دانلود</button>
    </mat-card-actions>
  </div>
  </ng-container>

  <div *ngIf="isLoading" class="!fixed bottom-1/2 right-2/4 translate-x-1/2 flex flex-col justify-center align-center">
    <mat-spinner></mat-spinner>
    <div class="font-sm rtl mt-2 text-center">
      در حال جستجو...
    </div>
  </div>

</div>
