@use '@angular/material' as mat;
@import url('https://fonts.cdnfonts.com/css/iranian-sans');


$iranian-sans-typography: mat.define-typography-config($font-family: '"Iranian Sans", sans-serif');

@include mat.typography-hierarchy($iranian-sans-typography);

$app-theme: mat.define-light-theme((
  typography: $iranian-sans-typography
));

$app-theme: mat.define-dark-theme((
  typography: $iranian-sans-typography
));


@include mat.all-component-themes($app-theme);
/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }


body { margin: 0; }

.rtl {
  direction: rtl;
}

.ltr {
  direction: ltr;
}


@tailwind base;
@tailwind components;
@tailwind utilities;
